<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h3>Login Page</h3>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    <form method="POST">
            <p>Username</p>
        <input type="text" name="username">
            <p>Password</p>
        <input type="text" name="password"><br><br>

        <input type="submit" name="Next">


    </form>
</body>
</html>
