<!DOCTYPE html>
<html>
<head>
    <title>Transfer History</title>
</head>
<body>
    <h1>Transfer History</h1>
    <table>
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.from_username }}</td>
                <td>{{ transfer.to_username }}</td>
                <td>{{ transfer.amount }}</td>
                <td>{{ transfer.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>