<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>
<body>
    <h3>User Menu</h3>
    <li><a href="show_balance">show_balance</a></li><br>
    <li><a href="add_balance">add_balance</a></li><br>
    <li><a href="transfer_money">transfer_money</a></li><br>
    <li><a href="transfer_history">transfer_history</a></li><br>
    <li><a href="delete_account">delete_account</a></li><br>
</body>
</html>
